
@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}
button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}
.navbar-brand{
    color:#fff!important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #e5e5e5;
  line-height: 1.5;
}
textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #fff;}
input:-moz-placeholder { color: #fff;}
input::-moz-placeholder { color: #fff;}
input:-ms-input-placeholder { color: #fff;}

textarea::-webkit-input-placeholder { color: #fff;}
textarea:-moz-placeholder { color: #fff;}
textarea::-moz-placeholder { color: #fff;}
textarea:-ms-input-placeholder { color: #fff;}

label {
  margin: 0;
  display: block;
}
.input100 {
    border-bottom:2px solid rgba(255,255,255,0.24);
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    display: inline-block;
    width: 50%;
    height: 40px;
    background: transparent;
}
.wrap-input100 {
    width: 40%;
    position: relative;
    margin-bottom: 10px;
}
.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}


html {
  height: 100%;
}

main{
  margin-top: 55px;
}


.bg-light {
    background: -webkit-linear-gradient(top, rgb(117, 121, 255), rgb(178, 36, 239));
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(123, 112, 253)!important;
  opacity: 0.7;
  z-index: 1;
}



.card-img, .card-img-top {
    border-radius: 2rem 2rem 0 0;
    width: 100%;
    height: 35vh;
}
.card-price{
    font-size: 15px;
}

.card-text:last-child {
    color: white;
}

.produc-title{
  color: #fff;
  text-decoration: none;
}
.card-img-price {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #a536f3;
    right: 0!important;
    width: 20%;
    border-radius: 0 0.8rem 0 1rem;
    padding: 10px;
    height: 20%;
}
.card-img, .card-img-top {
    border-radius: 1rem;
}
.bg-dark {
    background-color: #1e555c !important;
    border-radius: 1rem;
    border: none;
}
.card-img-overlay{
  display: none;
}
.card-img-price{
  z-index: 1;
}

.card:hover .card-img-overlay{
    display: block!important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 75px 15px 0px 15px;
    background-color: rgba(123, 112, 253, 0.8)!important;
    text-align: center;
    border-radius: 1rem;

}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.login100-form-btn {
  z-index: 1;
  border: none;
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #555555;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: inline-block;
  padding: 0 20px;
  height: 50px;
  border-radius: 25px;
  min-width: 120px;

  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  color: #fff;
  background: -webkit-linear-gradient(top, rgb(117, 121, 255), rgb(178, 36, 239));  
    
}


.login100-form-btn:hover:before {
  opacity: 0;
}
